/* CSS Document */
div {

}

#wrapper {
    width: 1590px;
    position: relative;
    padding: 97px 20px;
    height: 695px;
    border: 1px solid;
}

#main {
    width: 700px;
    float: right;
    background: #a5f0e6;
    height: 500px;
    clear: left;
}

#right {
    border-radius: 8px;
    padding-top: 63px;
    padding-bottom: 68px;
    float: right;
    width: 1188px;
    height: 564px;
    background: aqua;
}
#leftTop {
    overflow: auto;
    border-radius: 8px;
    width: 386px;
    height: 371px;
    margin-bottom: 16px;
    background: aqua;
}
#leftTop select{
    margin-left: 16px;
    border-radius: 8px;
    width: 353.49px;
    height: 34px;
    margin-top: 0;
    margin-bottom: 16px;
}
#leftTop h2{
    width: max-content;
    height: 21px;
    margin-top: 15px;
    margin-bottom: 36px;
    margin-left: 16.31px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-size: 15px;
    text-transform: uppercase;
}
#leftTop p{
    margin-top: 0;
    margin-bottom: 20px;
    width: 323px;
    margin-left: 16px;
    height: 23.39px;
}
#leftTop input{
    position: relative;
    top: 2px;
    float: left;
    margin-left: 0;
}
#leftTop a{
    display: block;
    font-size: 16px;
    width: 270px;
    height: 23.39px;
    position: relative;
    float: left;
    bottom: 6px;
}
#leftDown {
    overflow: auto;
    border-radius: 8px;
    width: 386px;
    height: 308px;
    background: aqua;
}
#leftDown h2{
    width: max-content;
    height: 21px;
    margin-top: 15px;
    margin-bottom: 13px;
    margin-left: 16.31px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-size: 15px;
    text-transform: uppercase;
}
#leftDown p{
    height: 20px;
    margin-top: 0;
    width: 323px;
    margin-left: 16px;
}
#leftDown input{
    position: relative;
    top: 6px;
    float: left;
    margin-left: 0;
}

#leftDown a{
    width: 270px;
    height: 23.39px;
    display: block;
    float: left;
}

.block {
    border-radius: 8px;
    float: left;
    width: 374px;
    height: 274px;
    background: burlywood;
    margin-left: 16px;
    margin-bottom: 24px;
}
.block p {
    width: 276px;
    height: 19px;
    margin-top: 19px;
    margin-bottom: 0px;
    margin-left: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 13px;
}
.block h2 {
    width: 276px;
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-size: 15px;
    text-transform: uppercase;
}

.page{
    height: 134px;
    margin-top: 9px;
    background: darkgray;

}

#header {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: #b0e8f4;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #b0e8f4;
}
.graph {
    position: relative;
    left: 125px;
    width:150px;
    height: 61px;
    background: brown;
    margin-bottom: 24px;
}





