/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto');
div {

}
 html, body{
     padding: 0;
     margin: 0;
 }
div ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.add{
    background: inherit;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-style: normal;
    border-radius: 8px;
    border: 1px solid #337AB7;
    float: right;
    margin-top: 15px;
    margin-right: 12px;
    margin-bottom: 14px;
    padding: 7px 10px;
    height: 34px;
    font-weight: normal;
    line-height: 16px;
    font-size: 16px;
    color: #337AB7;
}
#wrapper {
    width: 95%;
    max-width: 1590px;
    position: relative;
    padding: 15px 20px 179px;
    height: 695px;
    border: 1px solid;
    margin: 0 auto;
    background: #E5E5E5;
}

#right {
    position: absolute;
    right: 20px;
    top: 97px;
    float: right;
    border-radius: 8px;
    padding-top: 0;
    padding-bottom: 131px;
    width: calc(100% - 438px);
    height: 564px;
    background: #FFFFFF;
    overflow: auto;
}
#leftTop {
    overflow: auto;
    border-radius: 8px;
    width: 386px;
    height: 371px;
    margin-bottom: 16px;
    background: #FFFFFF;
}
#leftTop select{
    margin-left: 16px;
    border-radius: 8px;
    width: 353.49px;
    height: 34px;
    margin-top: 0;
    margin-bottom: 16px;
}
#leftTop h2{
    width: max-content;
    height: 21px;
    margin-top: 15px;
    margin-bottom: 36px;
    margin-left: 16.31px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-size: 15px;
    text-transform: uppercase;
}
#leftTop p{
    margin-top: 0;
    margin-bottom: 20px;
    width: 323px;
    margin-left: 16px;
    height: 23.39px;
}
#leftTop input{
    position: relative;
    top: 2px;
    float: left;
    margin-left: 0;
}
#leftTop a{
    display: block;
    font-size: 16px;
    width: 270px;
    height: 23.39px;
    position: relative;
    float: left;
    bottom: 6px;
}
#leftDown {
    overflow: auto;
    border-radius: 8px;
    width: 386px;
    height: 308px;
    background: #FFFFFF;
}
#leftDown h2{
    width: max-content;
    height: 21px;
    margin-top: 15px;
    margin-bottom: 13px;
    margin-left: 16.31px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-size: 15px;
    text-transform: uppercase;
}
#leftDown p{
    height: 20px;
    margin-top: 0;
    width: 323px;
    margin-left: 16px;
}
#leftDown input{
    position: relative;
    top: 6px;
    float: left;
    margin-left: 0;
}

#leftDown a{
    width: 270px;
    height: 23.39px;
    display: block;
    float: left;
}
@media screen and (max-width: 910px){
    h3 {
        text-align: center;
    }
    #wrapper{
        min-width: 460px;
        padding: 0;
        height: max-content;
    }
    #leftTop, #leftDown{
        margin: 16px auto;
    }
    #right {
        width: min-content;
        right: 0;
        top: 0;
        padding: 20px 0;
        position: relative;
        float: none;
        margin: 0 auto;
    }
    .block {
        margin-right: 12px;
    }
}

.block {
    background: #FFFFFF;
    border: thin solid #F4F4F4;
    border-radius: 8px;
    float: left;
    width: 374px;
    height: 274px;
    margin-left: 16.5px;
    margin-bottom: 24px;
}
.block p {
    width: 276px;
    height: 19px;
    margin-top: 19px;
    margin-bottom: 0px;
    margin-left: 11px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 13px;
}
.block h2 {
    font-family: Roboto serif;
    position: relative;
    width: 270px;
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: 11px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 19px;
}

.page{
    border: thin solid #F4F4F4 ;
    background: rgba(196, 196, 196, 0.1);
    height: 134px;
    margin-top: 9px;

}
.obj{
    width: 61px;
    height: 61px;
    border-radius: 50%;

    border: 3px solid #ECECEC;
    float: left;
    margin-left: 48px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 36px;
    text-align: center;
    color: #303030;
    margin-top: 22px
}
.sign{
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 19px;
    margin-left: 23px;
    margin-right: 76px ;
}
.achiv{
    float: left;
    margin-top: 16px;
    margin-right: 18px;
    width: 30px;
    height: 30px;
}
.round{
    border-radius: 50%;
}
.achiv img{
    width: 100%;
    height: 100%;
}
.graph {
    position: relative;
    left: 125px;
    width:150px;
    height: 61px;
    background: brown;
    margin-bottom: 24px;
}
.min{

    font-family: Roboto, sans-serif;
    border-radius: 8px;
    border: 1px solid #DE8C18;
    float: right;
    margin-top: 8.85px;
    margin-right: 7px;
    padding: 0 6px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #DE8C18;
}
.min1{
    box-sizing: border-box;
    font-family: Roboto, serif;
    border-radius: 8px;
    border: 1px solid #368AA2;
    float: right;
    margin-top: 8.85px;
    margin-right: 7px;
    padding: 0 6px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #368AA2;
}
#chart_div{
    margin-left: 40px;
    width: 294px;
    height: 134px;
}
#chart_div1{
    width: 100%;
    height: 100%;
}
#chart_div2{
    width: 100%;
    height: 100%;
 }





